%h1 Listing slots

%table
  %thead
    %tr
      %th Identifier
      %th Node
      %th Climate control unit
      %th
      %th
      %th

  %tbody
    - @slots.each do |slot|
      %tr
        %td= slot.identifier
        %td= slot.node
        %td= slot.climate_control_unit
        %td= link_to 'Show', slot
        %td= link_to 'Edit', edit_room_node_slot_path(slot)
        %td= link_to 'Destroy', slot, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Slot', new_room_node_slot_path
