%h1 Listing slots

%table.table
  %thead
    %tr
      %th Identifier
      %th Node
      %th Climate control unit
      %th Actions

  %tbody
    - @slots.each do |slot|
      %tr
        %td= slot.identifier
        %td= slot.node
        %td= slot.climate_control_unit
        %td
          .btn-group
            = link_to 'Show', room_node_slot_path(@room, @node, slot), class: 'btn btn-primary'
            = link_to 'Edit', edit_room_node_slot_path(@room, @node, slot), class: 'btn btn-warning'
            = link_to 'Destroy', room_node_slot_path(@room, @node, slot), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

%br

= link_to 'New Slot', new_room_node_slot_path(@room, @node), class: 'btn btn-success'
