%p#notice= notice

%p
  %b Identifier:
  = @slot.identifier
%p
  %b Node:
  = @slot.node
%p
  %b Climate control unit:
  = @slot.climate_control_unit

= link_to 'Edit', edit_room_node_slot_path(@slot), class: 'btn btn-warning'
\|
= link_to 'Back', room_node_slots_path, class: 'btn btn-primary'
