%h1 Listing targets

%table.table
  %thead
    %tr
      %th Type
      %th Value
      %th Room
      %th Actions

  %tbody
    - @targets.each do |target|
      %tr
        %td= target.type
        %td= target.value
        %td= target.room
        %td
          .btn-group
            = link_to 'Show', room_target_path(@room, target), class: 'btn btn-primary'
            = link_to 'Edit', edit_room_target_path(@room, target), class: 'btn btn-warning'
            = link_to 'Destroy', room_target_path(@room, target), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

%br

= link_to 'New Target', new_room_target_path(@room), class: 'btn btn-success'
