%p#notice= notice

%p
  %b Type:
  = @target.type
%p
  %b Value:
  = @target.value
%p
  %b Room:
  = @target.room

= link_to 'Edit', edit_room_target_path(@roon, @target), class: 'btn btn-warning'
\|
= link_to 'Back', room_targets_path(@room), class: 'btn btn-primary'
