= form_for [@room, @node] do |f|
  - if @node.errors.any?
    #error_explanation
      %h2= "#{pluralize(@node.errors.count, "error")} prohibited this node from being saved:"
      %ul
        - @node.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :capabilities
    = f.number_field :capabilities
  .field
    = f.label :api_key
    = f.text_field :api_key
  .actions
    = f.submit 'Save', class: 'btn btn-success'
