%p#notice= notice

%p
  %b Capabilities:
  = @node.capabilities
%p
  %b Api key:
  = @node.api_key
%p
  %b Room:
  = @node.room
%p
  %b Outside:
  = @node.outside?
= link_to 'Edit', edit_room_node_path(@room, @node), class: 'btn btn-warning'
\|
= link_to 'Back', room_nodes_path(@room), class: 'btn btn-primary'
