%h1 Listing data_points

%table.table
  %thead
    %tr
      %th Type
      %th Value
      %th Room
      %th Node
      %th Actions

  %tbody
    - @data_points.each do |data_point|
      %tr
        %td= data_point.type
        %td= data_point.value
        %td= data_point.room
        %td= data_point.node
        %td
          .btn-group
            = link_to 'Show', data_point, class: 'btn btn-primary'
            = link_to 'Destroy', data_point, method: :delete, data: { confirm: 'Are you sure?' }
