%br

%p#notice= notice

%p
  %b Type:
  = @data_point.type
%p
  %b Value:
  = @data_point.value
%p
  %b Room:
  = @data_point.room
%p
  %b Node:
  = @data_point.node

= link_to 'Back', room_data_points_path(@room), class: 'btn btn-primary'
